//
// Fonts
//

//
// Neue-Light
//
@font-face {
    font-family: "Neue-Haas-Light";
    src: url("../../fonts/NeueHaasDisplayLight.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/NeueHaasDisplayLight.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../../fonts/NeueHaasDisplayLight.otf")
            format("opentype"),
        /* Open Type Font */ url("../../fonts/NeueHaasDisplayLight.svg")
            format("svg"),
        /* Legacy iOS */ url("../../fonts/NeueHaasDisplayLight.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../../fonts/NeueHaasDisplayLight.woff")
            format("woff"),
        /* Modern Browsers */ url("../../fonts/NeueHaasDisplayLight.woff2")
            format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

//
// Neue-Medium
//
@font-face {
    font-family: "Neue-Haas-Medium";
    src: url("../../fonts/NeueHaasDisplayMedium.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/NeueHaasDisplayMedium.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../../fonts/NeueHaasDisplayMedium.otf")
            format("opentype"),
        /* Open Type Font */ url("../../fonts/NeueHaasDisplayMedium.svg")
            format("svg"),
        /* Legacy iOS */ url("../../fonts/NeueHaasDisplayMedium.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../../fonts/NeueHaasDisplayMedium.woff")
            format("woff"),
        /* Modern Browsers */ url("../../fonts/NeueHaasDisplayMedium.woff2")
            format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

//
// Neue-Bold
//
@font-face {
    font-family: "Neue-Haas-Bold";
    src: url("../../fonts/NeueHaasDisplayBold.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/NeueHaasDisplayBold.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../../fonts/NeueHaasDisplayBold.otf")
            format("opentype"),
        /* Open Type Font */ url("../../fonts/NeueHaasDisplayBold.svg")
            format("svg"),
        /* Legacy iOS */ url("../../fonts/NeueHaasDisplayBold.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../../fonts/NeueHaasDisplayBold.woff")
            format("woff"),
        /* Modern Browsers */ url("../../fonts/NeueHaasDisplayBold.woff2")
            format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

//
// Poppins-Light
//
@font-face {
    font-family: "Poppins-Light";
    src: url("../../fonts/Poppins-Light.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../../fonts/Poppins-Light.otf") format("opentype"),
        /* Open Type Font */ url("../../fonts/Poppins-Light.svg") format("svg"),
        /* Legacy iOS */ url("../../fonts/Poppins-Light.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../../fonts/Poppins-Light.woff")
            format("woff"),
        /* Modern Browsers */ url("../../fonts/Poppins-Light.woff2")
            format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

//
// Poppins-Medium
//
@font-face {
    font-family: "Poppins-Medium";
    src: url("../../fonts/Poppins-Medium.eot"); /* IE9 Compat Modes */
    src: url("../../fonts/Poppins-Medium.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../../fonts/Poppins-Medium.otf") format("opentype"),
        /* Open Type Font */ url("../../fonts/Poppins-Medium.svg") format("svg"),
        /* Legacy iOS */ url("../../fonts/Poppins-Medium.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../../fonts/Poppins-Medium.woff")
            format("woff"),
        /* Modern Browsers */ url("../../fonts/Poppins-Medium.woff2")
            format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
