@include media-breakpoint-up(md) {
	.c-mobile-menu {
		display: none;
	}
}

@include media-breakpoint-down(md) {
	body {
		&.menu-isOpen {
			overflow: hidden;
			.c-section {
				transform: scale(0.85);
				transition: ease all 0.5s;
				filter: blur(100px);
			}

			.c-footer {
				filter: blur(100px);
			}

			.c-mobile-menu {
				transition: ease left 0.6s;

				left: 0;
			}

			.c-go-top {
				display: none !important;
			}
		}
	}

	.c-mobile-menu {
		transition: ease left 0.6s;
		left: -100%;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 999999;
		top: 144px;

		&__list {
			padding: 0;
			margin-bottom: map-get($g-gaps, large);
			list-style: none;
			color: var(--color-secondary);
			overflow: scroll;
		}

		&__item {
			margin: map-get($g-gaps, small) 0;
			@include neue-medium;
			font-size: $g-font-size-15;

			&--hasSubmenu {
				> a {
					position: relative;
					width: 100%;
					display: inline-block;

					&:after {
						content: '';
						background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='8px' height='8px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3E%3Cg%3E%3Cg id='_x31_0_34_'%3E%3Cg%3E%3Cpath d='M604.501,134.782c-9.999-10.05-26.222-10.05-36.221,0L306.014,422.558L43.721,134.782 c-9.999-10.05-26.223-10.05-36.222,0s-9.999,26.35,0,36.399l279.103,306.241c5.331,5.357,12.422,7.652,19.386,7.296 c6.988,0.356,14.055-1.939,19.386-7.296l279.128-306.268C614.5,161.106,614.5,144.832,604.501,134.782z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
						height: 8px;
						width: 8px;
						background-repeat: no-repeat;
						position: absolute;
						right: 0;
						top: 50%;
						transition: $g-transition;
						transform-origin: top right;
						transform-style: preserve-3D;
					}
				}
			}

			&.active {
				> a {
					&:after {
						transform: rotate(180deg);
						transition: $g-transition;
						transform-origin: top center;
						margin: 0 auto;
						transform-style: preserve-3D;
					}
				}
			}
		}

		&__wrapper {
			display: none;
			padding: map-get($g-gaps, xsmall) 0;
		}

		&__sub {
			display: flex;
			flex-direction: column;
			padding-left: map-get($g-gaps, small);
		}

		.container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: calc(100% - 165px);
		}
	}
}

@include media-breakpoint-down(xs) {
	.c-mobile-menu {
		&__actions {
			div[class^='col'] {
				&:not(:last-child) {
					margin-bottom: map-get($g-gaps, small);
				}
			}
		}
	}
}
