.l-navbar {
    background-color: var(--color-gray-light) !important;
    height: 120px;
    background-color: transparent;
    box-shadow: none;
    transition: all ease-in 0.1s;

    &--fixed {
        height: 80px;
        transition: all ease-in 0.1s;
        background-color: var(--color-white-light-95);
        box-shadow: 0px 5px 10px rgba(14, 35, 84, 0.1);
    }

    &.navbar {
        padding: 0 15px;
        position: fixed;
        width: 100%;
        z-index: 9999999;
        top: 0;
    }

    &__brand {
        margin-right: 140px;
        padding: 0;
    }

    .navbar-nav {
        visibility: visible;
        opacity: 1;
        transition: $g-transition;

        &.is-hidden {
            visibility: hidden;
            opacity: 0;
            transition: $g-transition;
        }
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__menu-links {
        display: flex;
        position: relative;

        &--mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            padding: 0;
        }
    }

    &__logo {
        width: 128px;
    }

    &__menu {
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $g-font-size-14;
            @include poppins-medium;

            &:not(:first-child) {
                margin-left: map-get($g-gaps, 2xlarge);
            }

            .nav-link {
                color: var(--color-primary-light-50);
                padding: 0 !important;

                &.dropdown-toggle {
                    // position: relative;
                    // padding-right: 20px;

                    &:after {
                        display: none;
                    }

                    // &:before {
                    // 	content: "";
                    // 	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='8px' height='8px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3E%3Cg%3E%3Cg id='_x31_0_34_'%3E%3Cg%3E%3Cpath d='M604.501,134.782c-9.999-10.05-26.222-10.05-36.221,0L306.014,422.558L43.721,134.782 c-9.999-10.05-26.223-10.05-36.222,0s-9.999,26.35,0,36.399l279.103,306.241c5.331,5.357,12.422,7.652,19.386,7.296 c6.988,0.356,14.055-1.939,19.386-7.296l279.128-306.268C614.5,161.106,614.5,144.832,604.501,134.782z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
                    // 	height: 8px;
                    // 	width: 8px;
                    // 	background-repeat: no-repeat;
                    // 	top: 0;
                    // 	bottom: 0;
                    // 	margin: auto 0;
                    // 	position: absolute;
                    // 	right: 0;
                    // }
                }
            }

            .dropdown-menu {
                font-size: $g-font-size-11;
                max-width: 200px;
                border: 2px solid var(--color-gray-light);

                .dropdown-item {
                    @include neue-medium;
                    color: var(--color-secondary);
                    padding: map-get($g-gaps, 2xsmall) map-get($g-gaps, small);

                    &:active {
                        background-color: var(--color-secondary);
                    }

                    &--username {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &:hover {
                        background-color: var(--color-secondary) !important;
                        color: var(--color-white);
                    }
                }

                .dropdown-divider {
                    border-top: 2px solid var(--color-gray-light);
                }
            }

            &--mobile {
                padding-bottom: map-get($g-gaps, small);
                opacity: 0;
                text-align: center;
                font-size: $g-font-size-14;
                color: var(--color-white);

                &.show {
                    .l-navbar__menu-icon--mobile {
                        &:before {
                            transform: rotate(90deg);
                        }
                        &:after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &--social {
                svg {
                    color: #007ab5;
                }
            }

            &:not(.active) {
                &:hover {
                    .nav-link {
                        cursor: pointer;
                        color: var(--color-primary-light-60);
                    }
                }
            }
        }

        &-mega {
            position: absolute;
            left: -2px;
            background-color: var(--color-white);
            top: 71px;
            border: 2px solid var(--color-gray-light);
            padding: 24px;
            width: calc(100% + 4px);
            border-radius: 0 0 16px 16px;
        }
    }

    &__menu-button-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        z-index: 999;
        position: relative;
        padding: 0;
        margin-left: map-get($g-gaps, normal);

        .dropdown-toggle {
            &::after {
                display: none;
            }
        }

        .c-navbar--user-toggler {
            svg {
                color: var(--color-primay);
            }
        }
    }

    &--mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 9;
        right: 0;
        height: 100vh;
        width: 100%;
        top: 0;
        background-color: var(--color-gray-light-700);
        transform: translateX(100%);
        transition: $g-transition;
        border: 1px solid var(--color-gray-light-700);

        &-active {
            transform: translateX(0%);
        }
    }

    &__mobile-logo {
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, -50%);
    }

    &__search {
        position: absolute;
        transition: $g-transition;
        opacity: 0;
        visibility: hidden;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);

        .form-group {
            margin-bottom: 0;
        }

        &.is-open {
            display: flex;
            transition: $g-transition;
            opacity: 1;
            visibility: visible;
        }
    }

    &__menu-icon--mobile {
        position: relative;
        width: px-to-rem(10px);
        height: px-to-rem(10px);
        margin-left: map-get($g-gaps, xsmall);

        &:before,
        &:after {
            content: "";
            position: absolute;
            background-color: white;
            transition: $g-transition;
        }

        /* Vertical line */
        &:before {
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
        }

        /* horizontal line */
        &:after {
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            margin-top: -1px;
        }
    }

    &__menu-link--mobile {
        text-align: center;
        position: relative;

        .l-navbar__menu-icon--mobile {
            position: absolute;
            top: px-to-rem(7px);
            right: px-to-rem(-20px);
        }

        &:hover {
            color: var(--color-white);
        }
    }

    &__dropdown-menu-mobile {
        &.dropdown-menu {
            background-color: var(--color-gray-light-700);
            border: none;
            text-align: center;
            font-size: $g-font-size-11;
            padding: 0;
            padding-top: map-get($g-gaps, xsmall);

            .dropdown-item {
                padding: map-get($g-gaps, xsmall) 0;
            }

            li {
                &:last-child {
                    a {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    &__submenu {
        list-style: none;
    }

    &--user {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 900;
        right: 0;
        height: 100vh;
        width: 100%;
        top: 0;
        background-color: var(--color-primay);
        transform: translateX(100%);
        transition: $g-transition;
        border: 1px solid var(--color-gray-light-700);

        &-active {
            transform: translateX(0%);
        }

        &__options {
            list-style: none;
            padding-left: 0;
            text-align: center;
        }

        &__item {
            margin: map-get($g-gaps, xsmall) 0;
            a {
                color: var(--color-white);
                // font-family: $g-font-weight-normal;
                font-size: $g-font-size-14;

                &:hover {
                    color: inherit;
                }
            }
        }
    }

    &__logout {
        margin: map-get($g-gaps, 3xlarge) 0;

        a {
            color: var(--color-gray-light-700);
        }
    }
}

@include media-breakpoint-up(md) {
    .c-navbar {
        &__menu-item {
            &.active {
                position: relative;

                > a {
                    color: var(--color-alternative);
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .l-navbar {
        &__menu {
            display: none;
        }

        &.navbar {
            padding: map-get($g-gaps, small);
        }

        &__brand {
            margin-right: 0 !important;
        }

        &__logo {
            max-width: 160px;
        }
    }
}

@include media-breakpoint-down(md) {
    .l-navbar {
        .dropdown-user {
            display: none !important;
        }
    }
}
